:root {
  --irisColor: #4d5ae5;
  --oceanColor: #404bbf;
  --navyBlueColor: #2e2f42;
  --slateColor: #434455;
  --cloudColor: #f4f4fd;
  --grayColor: #2e2f42;
  --whiteColor: #ffffff;
  --dairyColor: #fcfcfc;
  --cornflowerColor: #E7E9FC;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slateColor);
  background-color: var(--whiteColor);
}

/* Default class selector */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* --------------------------------------------------------- */

.header {
  background-color: var(--whiteColor);
  border-bottom: 1px solid var(--cornflowerColor);
}

.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* Logo */
.nav-logo {
  color: var(--irisColor);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-studio {
  color: var(--navyBlueColor);
}
.logo-footer {
  color: var(--cloudColor);
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 24px 0;
}

/* Navigation */
.nav-link {
  text-decoration: none;
  color: var(--navyBlueColor);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--oceanColor);
}

/* Address */
.address-list {
  display: flex;
  font-style: normal;
  gap: 40px;
  list-style-type: none;
}
.address-link {
  color: var(--slateColor);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: var(--oceanColor);
}



/* ----------- Hero Section ------------*/
.hero-section {
  background-color: var(--navyBlueColor);
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-header {
  color: var(--whiteColor);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: var(--whiteColor);
  background-color: var(--irisColor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--oceanColor);
}




/* ------------------Second section---------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

  .second-section {
    padding: 120px 0;
  }

  .second-section-list {
    display: flex;
    justify-content: space-between;
  }

.second-section-link {
  flex-basis: calc((100% - 3*24px) / 4);
}






/*  */
.our-work-header,
.portfolio-list-header,
.team-names {
  color: var(--navyBlueColor);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-work-text,
.portfolio-list-text,
.team-names-text {
  color: var(--slateColor);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*  */


/* --------------- Third section ---------------- */

.what-we-are-doing {
  padding-bottom: 120px;
}

.what-we-doing-heading {
  color: var(--navyBlueColor);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.what-we-are-doing-list {
  display: flex;
  justify-content: space-between;
}

.what-we-are-doing-item {
  flex-shrink: 0;
  flex-basis: calc((100% - 24 * 3) / 3);
  border: 1px solid var(--cornflowerColor);
}




/* ---------------- Fourth section ------------------ */

.our-team-heading {
  color: var(--navyBlueColor);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-section {
  background-color: var(--cloudColor);
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-list {
  display: flex;
  justify-content: space-between;
}

.our-team-item {
  background-color: var(--whiteColor);
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 24 * 3) / 4);
}

.team-names-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}



/* ------------------ Portfolio page -------------------*/
.filter-button {
  color: var(--irisColor);
  background-color: var(--cloudColor);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--whiteColor);
  background-color: var(--oceanColor);
}

/* --------------- Footer ------------------- */


.footer {
  background-color: var(--navyBlueColor);
  padding: 100px 0;
}

.footer-logo-container {
  display: inline-flex;
  padding-bottom: 16px;
}


.footer-text {
  color: var(--cloudColor);
  line-height: 1.5;
  letter-spacing: 0.02em;

  max-width: 264px;
}
