:root {
  --irisColor: #4d5ae5;
  --oceanColor: #404bbf;
  --navyBlueColor: #2e2f42;
  --slateColor: #434455;
  --cloudColor: #f4f4fd;
  --grayColor: #2e2f42;
  --whiteColor: #ffffff;
  --dairyColor: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slateColor);
  background-color: var(--whiteColor);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

/* Default class selector */
.header {
  background-color: var(--whiteColor);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 24px 0;
}

/* Address */

.address-list {
  display: flex;
  font-style: normal;
  gap: 40px;
  list-style-type: none;
}
.address-link {
  color: var(--slateColor);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: var(--oceanColor);
}








.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Logo */
.nav-logo {
  color: var(--irisColor);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-studio {
  color: var(--navyBlueColor);
}
.logo-footer {
  color: var(--cloudColor);
}

/* Navigation */
.nav-link {
  text-decoration: none;
  color: var(--navyBlueColor);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--oceanColor);
}



/* Main header */
.main {
  background-color: var(--navyBlueColor);
}
.main-header {
  color: var(--whiteColor);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Main button */
.order-button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: var(--whiteColor);
  background-color: var(--irisColor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.order-button:hover,
.order-button:focus {
  background-color: var(--oceanColor);
}

/*  */
.our-work-header,
.portfolio-list-header,
.team-names {
  color: var(--navyBlueColor);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-work-text,
.portfolio-list-text,
.team-names-text {
  color: var(--slateColor);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.what-we-doing,
.___temp {
  color: var(--navyBlueColor);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.our-team-header {
  color: var(--navyBlueColor);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.our-team {
  background-color: var(--cloudColor);
}
.our-team-item {
  background-color: var(--whiteColor);
}

/* Portfolio page */
.filter-button {
  color: var(--irisColor);
  background-color: var(--cloudColor);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--whiteColor);
  background-color: var(--oceanColor);
}

/* Footer */
.footer {
  background-color: var(--navyBlueColor);
}
.footer-text {
  color: var(--cloudColor);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
